.nav-item-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 10px;
    flex: 3;
}

.nav-div {
    display: flex;
    flex: 2;
}

.btn {
    display: flex;
    align-items: flex-end;
    margin-right: 20px !important;
}

.btn-login {
    border: 2px solid blue !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.sticky-div {
    width: 100%;
    height: 40px !important;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: 100%;
    height: 100px;
    border: 1px solid grey;
    border-radius: 8px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-box1, .small-box2, .small-box3, .small-box4 {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    background-color: red;
}

.round-box {
    margin-top: 100px;
    width: 40%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 5px;
}

.container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-1 {
    flex: 3;
    margin-right: 80px;
}

.list-2 {
    flex: 2;
}

.my-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 350px;
    height: 400px;
    padding: 30px;
    align-items: center;
    text-align: center;
}

.btn-class {
    margin: auto;
    width: 100%;
    background-color: blue !important;
    color: white !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border-radius: 5px !important;
}

span {
    color: blue !important;
}

.name {
    width: 100%;
    height: 40px;
    margin: auto !important;
    background-color: #ede8e8 !important;
    margin-bottom: 1px;
}

.mob-no {
    width: 100%;
    height: 40px;
    margin: auto !important;
    background-color: #ede8e8;
}

input {
    border: none !important;
}

.container-1 {
    margin-top: 80px !important;
    margin-left: 110px !important;
    width: 85%;
    height: 600px !important;
    background-color:  #ECF8FF;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-1 {
    flex: 1;
    width: 60% !important;
    height: 400px !important;
    background-color: white !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px !important;
    border: 1px solid blue;
    margin-left: 160px !important;
    margin-right: 20px !important;
}

.card-2 {
    flex: 1;
    width: 60% !important;
    height: 400px !important;
    background-color: white !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px !important;
}

.card-row-display {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    color: #992FED;
}

.heading-margin {
    padding-top: 70px;
}

.job1 {
    background-color: #E0F3FF;
    text-align: center;
    margin-right: 10px;
    padding: 5px;
    color:rgb(5, 89, 89);
    border-radius: 5px;
}

.lifetime1 {
    background-color: #E0F3FF;
    text-align: center;
    padding: 5px;
    color:rgb(4, 79, 79);
    border-radius: 5px;
}

.job2 {
    background-color: #FFEED8;
    text-align: center;
    margin-right: 10px;
    padding: 5px;
    color:rgb(62, 26, 26);
    border-radius: 5px;
}

.lifetime2 {
    background-color: #FFEED8;
    text-align: center;
    padding: 5px;
    color: rgb(62, 26, 26);
    border-radius: 5px;
}

.img-padding {
    padding-right: 5px !important;
}

.brochure {
    margin-right: 200px !important;
    padding: 5px !important;
    color: blue;
    border: 1px solid blue !important;
    border-radius: 5px !important;
}

.learn {
    background-color: blue;
    color: white;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: none !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-radius: 5px !important;
}

.sec-3-1 {
    background-color: #FFFFFF;
}

.s1 {
    color: #992FED;
}

.s4 {
    color: #595959;
}

.sec-3-2>img {
    display: block;
    margin-left: 10%;
    margin-right: 20px;
    width: 80%;
}

.btn1
{
    color: #FFFFFF;
    text-decoration: none;
    border-color: #2F80ED;
}

.c1{
    color: #2B2F34;
}




.cardII>div{
    border: solid #D7D7D7;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.cardI>div
{
    padding:20px;
	text-align:center;
	width:100%;
	height:100%;
	box-shadow:0px 0px 10px rgb(182, 176, 176);
	background-color:whitesmoke;
    margin-top: 20px;
}

.cardI
{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: auto;
}

.cardII>div
{
    padding:20px;
	text-align:center;
	width:100%;
	height:100%;
	box-shadow:0px 0px 10px rgb(182, 176, 176);
	background-color:whitesmoke;
    margin-top: 20px;
}

.cardII>div
{
    padding:20px;
	text-align:center;
	width:100%;
	height:100%;
	box-shadow:0px 0px 10px rgb(182, 176, 176);
	background-color:whitesmoke;
    margin-top: 20px;
}

.cardII
{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;
}

.p4
{
    font-size: 12px;
}

@media screen and (max-width:767px){
    .main
    {
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
    }
}